/**
*** DBO2(R)1997/98
*** rodablo@hotmail.com
***/
#include <ver.h>

// typelib
1 typelib dboidl.tlb

// icono
1 icon dbo21.ico

// mc
#include "dbomc.rc"
// versioninfo
#include "versioninfo.rc"



